body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https://i.ibb.co/ZGjFTwv/f3e20a888211d7a10c784b5afdacc957.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}